/.angular/cache
############
## Project
############

bundles/
node_modules/
coverage/

#################
## Compiled
#################

*.map
*.metadata.json
*.d.ts
*.js
!config/*
!karma.conf.js
!protractor.conf.js
!demo/src/typings.d.ts

#################
## Misc
#################

nbproject
manifest.mf
build.xml
npm-debug.log

#################
## IDEs
#################

.idea
.project
.settings
.vscode

############
## Windows
############

Thumbs.db
Desktop.ini

############
## Mac
############

.DS_Store
