sudo: false
language: node_js
cache:
  directories:
    - node_modules
script:
  - cd demo
  - yarn
  - ng build --prod --base-href "https://greentube.github.io/ngx-modal/demo/"
  - ng deploy --repo=https://GH_TOKEN@github.com/greentube/ngx-modal.git --name="meeroslav" --email=missing.manual@gmail.com

notifications:
  email: false
node_js:
  - "10"
before_install:
  - export CHROME_BIN=chromium-browser
  - npm i -g npm@^3
before_script:
  - npm prune
  - export DISPLAY=:99.0
after_success:
  - npm run semantic-release
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
